os: linux
language: generic

branches:
  only:
  - master

services:
  - docker

env:
  global:
    - DOCKER_REPO=public

import:
  - mdolab/.github:travis-env.yml
  - mdolab/.github:travis-before-install.yml

install:
  # We thrown away the existing repo in Docker, and copy the new one in-place
  - docker exec -it app /bin/bash -c "rm -rf $DOCKER_WORKING_DIR && cp -r $DOCKER_MOUNT_DIR $DOCKER_WORKING_DIR"
  # install this package
  - docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $DOCKER_WORKING_DIR && pip install ."

script:
  - docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $DOCKER_WORKING_DIR && testflo -v ."
